//- Design ideas for the site
//- * A scroll to timeline about me, why I do web development
//- http://melaniedaveid.com/

include ./header.pug

section.header-container#top
	div.header-top
		h1 Aaron Flower
		h2 Web Developer
		h2 Boulder, CO
	div.header-bottom
		.boulder-svg
			include ../svg/boulder.svg
		div#current-weather.current-weather-mount
		ul.nav-list#nav-list
			li
				a#about About
			li
				a#work Work
			li
				a#contact Contact

//- About
section.about-container#about-section
	div
		h1 About


//- Work
section.work-container#work-section
	div
		h1 Work


//- Contact
section.contact-container#contact-section
	div
		h1 Contact

include ./footer.pug