//- Design ideas for the site
//- * A scroll to timeline about me, why I do web development
//- http://melaniedaveid.com/

include ./header.pug

.site-wrapper
	section.header-container#top
		div.header-top
			h1 Aaron Flower
			h3 Web Developer
			h3 Boulder, CO
		div.header-middle
			div#current-weather.current-weather-mount
		div.header-bottom
			.boulder-svg
				include ../svg/boulder.svg
		nav.nav#nav
			ul.nav-list#nav-list
				li
					a#about About
				li
					a#work Work
				li
					a#contact Contact

	//- About
	section.about-container#about-section
		h1.section-title About


	//- Work
	section.work-container#work-section
		h1.section-title Work


	//- Contact
	section.contact-container#contact-section
		div.form-mount#contact-form
		div.twitter-mount#twitter-worker

include ./footer.pug