include ./header.pug

.site-wrapper
	nav.nav-wrapper
		ul.nav#nav
			li#about-li.about-li
				a#about About
			li#work-li.work-li
				a#work Work
			li#contact-li.contact-li
				a#contact Contact
	section.header-container#top
		div.header-top
			h1 Aaron Flower
			h3 Web Developer
			h3 Boulder, CO
		div.header-bottom
			div#current-weather.current-weather-mount

	//- About
	section.about-container#about-section
		h1.section-title#about-section About
		div.about-mount#about-mount


	//- Work
	section.work-container#work-section
		h1.section-title Work


	//- Contact
	section.contact-container#contact-section
		div.form-mount#contact-form
		div.twitter-mount#twitter-worker
		div.copywrite
			.icons-container
				a.icon-item(href="https://www.linkedin.com/in/aaron-flower-20748339", target="_blank")
					img(src="./assets/linkedIn.svg")
				a.icon-item(href="https://github.com/aaronpflower", target="blank")
					img(src="./assets/github.svg")
			.name-container
				p Aaron Flower | Boulder, CO
include ./footer.pug
