include ./header.pug

.site-wrapper
	div.header-container#header-section

	//- About
	div.about-container#about-section
		img.me-img(src="./assets/Aaron.jpg")
		div.about-mount#about-mount


	//- Work
	div.work-container#work-section
		div.work-mount#work-mount


	//- Contact
	div.contact-container#contact-section
		div.form-mount#contact-form
		div.twitter-mount#twitter-worker
		div.copywrite
			.icons-container
				a.icon-item(href="https://www.linkedin.com/in/aaron-flower-20748339", target="_blank")
					img(src="./assets/linkedIn.svg")
				a.icon-item(href="https://github.com/aaronpflower", target="blank")
					img(src="./assets/github.svg")
			.name-container
				p Aaron Flower | Boulder, CO
include ./footer.pug
