.more-about
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	width 100%
	height 100%
	z-index 104

.about-swapper
	display flex
	flex-flow row nowrap
	justify-content center
	align-items center
	width 100%
	height 100%
	z-index 101
	
.about-wrapper
	width 25%
	color $gray

.season-date
	height 100%
	width 100%

.date-circle
	display flex
	justify-content center
	align-items center
	width 80px
	height 80px
	border-radius 50%
	background-color $gray
	color $white
	h3
		text-align center
		
// .season-header
// 	display flex
// 	text-align center
// 	width 80%
// 	z-index 101
	
// .season-body
// 	display flex
// 	width 80%
	
// .body-card
// 	color $white
// 	background-color $blueGray
	
// 	