.me-img
	position absolute
	top -10%
	right 0px
	left 0px
	margin 0px auto
	width 33.3%
	// height 125px
	border-top 4px solid $ltGreen
	border-left 4px solid $ltGreen
	border-bottom 4px solid $ltGreen
	border-right 4px solid $ltGreen
	border-radius 50%
	
.about-mount,
.about-component-wrapper
	width 100%
	height 100%
	overflow hidden
	
.next-slide
	display flex
	justify-content flex-end
	position absolute
	top 50%
	width 100px
	height 50px
	// z-index 100
	background transparent

.next-slide.right
	right 0px

.next-slide.left
	left 0px

.slide-container
	display flex
	flex-flow row nowrap
	justify-content center
	align-items flex-start
	height 100%
	width 300vw
	overflow hidden

.slide-wrapper
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	width 33.33%
	height 100%
	@media $screen-xs
		flex-flow row nowrap

.slide-left
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	width 100%
	height 50%
	background-color $white
	color $gray
	border-top 4px solid $blue
	@media $screen-xs
		width 50%
		height 100%
		
.slide-right
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	width 100%
	height 50%
	background-color $greenBlue
	color $white
	border-top 4px solid $red
	@media $screen-xs
		width 50%
		height 100%
	
.slide-wrapper h3
	width 66.66%
	text-align left

.slide-wrapper p
	width 66.66%
	text-align left

@keyframes right-one-third
	0%
		transform translateX(0%)
	100%
		transform translateX(-33.33%)

@keyframes right-two-thirds
	0%
		transform translateX(-33.33%)
	100%
		transform translateX(-66.66%)

@keyframes right-three-thirds
	0%
		transform translateX(-66.66%)
	100%
		transform translateX(0%)

.right-one-third
	animation right-one-third .5s ease-out
	transform translateX(-33.33%)
	
.right-two-thirds
	animation right-two-thirds .5s ease-out
	transform translateX(-66.66%)

.right-three-thirds
	animation right-three-thirds .5s ease-out
	transform translateX(0%)