.about-mount,
.about-component-wrapper
	width 100%
	height 100%
	
.next-slide
	display flex
	justify-content flex-end
	position absolute
	top 50%
	width 100px
	height 50px
	z-index 101
	background transparent
	@media $screen-lg
		display none

.next-slide.right
	right 0px

.next-slide.left
	left 0px

.slide-container
	display flex
	flex-flow row nowrap
	justify-content center
	align-items flex-start
	height 100%
	width 300vw
	overflow hidden
	@media $screen-lg
		width 100%
		align-items center

.slide-wrapper
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	width 33.3%

.slide-wrapper h3
	width 90%
	text-align center

.slide-wrapper p
	width 90%
	text-align center

@keyframes right-one-third
	0%
		transform translateX(0%)
	100%
		transform translateX(-33%)

@keyframes right-two-thirds
	0%
		transform translateX(-33%)
	100%
		transform translateX(-66%)

@keyframes right-three-thirds
	0%
		transform translateX(-66%)
	100%
		transform translateX(0%)

.right-one-third
	animation right-one-third .5s ease-out
	transform translateX(-33%)
	
.right-two-thirds
	animation right-two-thirds .5s ease-out
	transform translateX(-66%)

.right-three-thirds
	animation right-three-thirds .5s ease-out
	transform translateX(0%)