.form-mount
	width 100%
	height 50%

.contact-container
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	
form	
	display flex
	flex-flow column nowrap
	justify-content space-around
	align-items center
	width 100%
	height 90%

.form-input
	width 50%
	height 45px
	background-color $white
	border none
	border-bottom 1px solid $navy
	text-align center
	color $navy
	z-index 102
	
.form-input::placeholder,
.form-textarea::placeholder
	text-align center
	color $navy
	
.form-textarea
	width 50%
	height 200px
	background-color $white
	border none
	border-bottom 1px solid $navy
	color $navy
	z-index 102
	
.form-button
	width 30%
	height 45px
	background-color $beige
	color $red
	outline none
	border 1px solid $red
	transition all .3s ease-in
	z-index 102

.form-button:hover
	border 1px solid $beige
	background-color $red
	color $white
	transition all .3s ease-out
	
.icons-container
	display flex
	justify-content space-around
	align-content center
	width 50%
	height 10%

.icon-item
	display flex
	justify-content center
	width 50px
	img
		transform scale(1)
		transition all .2s ease-in
		height 100%
		width 100%

.icon-item img:hover
	transform scale(1.5)
	transition all .2s ease-out