.form-mount,
.twitter-mount
	width 100%
	height 50%

.contact-container
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	
form	
	display flex
	flex-flow column nowrap
	justify-content space-around
	align-items center
	width 100%
	height 75%

.form-input
	width 50%
	height 45px
	background linear-gradient(to right, $beige, $white)

.form-textarea
	width 50%
	height 200px
	background linear-gradient($beige, $white)
	
.form-button
	width 30%
	height 45px
	background-color $beige
	color $red
	outline none
	border 1px solid $red
	transition all .3s ease-in

.form-button:hover
	border 1px solid $beige
	background-color $red
	color $white
	transition all .3s ease-out
	
.icons-container
	display flex
	justify-content center
	align-content center
	width 100%
	height 25%

.icon-item
	display flex
	justify-content center
	width 80px
	img
		transform scale(1)
		transition all .2s ease-in
		height 100%
		width 100%

.icon-item img:hover
	transform scale(1.5)
	transition all .2s ease-out