.form-mount
	width 100%
	height 55%

.contact-component
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	height 100%
	width 100%
	max-width $content-width
	margin auto
form	
	display flex
	flex-flow column nowrap
	justify-content space-around
	align-items center
	width 100%
	height 90%

.form-input
	width 50%
	height 40px
	background-color transparent
	border none
	border-bottom 1px solid $navy
	text-align center
	color $blue-gray
	z-index 102
	
.form-input::placeholder,
.form-textarea::placeholder
	text-align center
	height 100%
	color $blue-gray
	
.form-textarea
	width 80%
	height 120px
	background-color transparent
	border none
	border-bottom 1px solid $navy
	color $blue-gray
	z-index 102
	
.form-button
	width 75%
	height 45px
	margin-top 25px
	background-color $white
	color $red
	outline none
	border 1px solid $red
	transition all .3s ease-in
	z-index 102

.form-button:hover
	border 1px solid $navy
	background-color $navy
	color $white
	transition all .3s ease-out
	

.copywrite
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	width 100%
	height 10%

.name-container
	width 100%
	height 50%
	display flex
	justify-content center
	align-items flex-end
	p
		font-size .5em
	

.icons-container
	display flex
	justify-content center
	align-content center
	width 100%
	height 50%
	z-index 102

.icon-item
	display flex
	justify-content center
	width 50px
	img
		transform scale(1)
		transition all .2s ease-in
		height 100%
		width 100%

.icon-item img:hover
	transform scale(1.5)
	transition all .2s ease-out