.current-weather-mount
	height 100%
	width 100%
	
.current-weather-component
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	text-align center
	width 100%
	height 100%
	position relative

.conditions
	position fixed
	top 0px
	right 0px
	text-align right
	transition all .5s ease-in
	
.conditions-scroll
	transform scale(.5)
	transition all .5s ease-out
	top -15px
	right -15px

.whoami
	height 10%
	transition all .5s ease-in
	
.whoami-scroll
	position fixed
	top -15px
	right 0px
	left 0px
	margin 0px auto
	z-index 99
	transition all .5s ease-out
	transform scale(.5)
	
.current-icon
	position absolute
	width 11%
	top 0
	left 0
	right 0
	margin 0px auto
	animation nudge 8s linear infinite
	z-index 2

.current-icon svg
	width 100%
	
.boulder-svg
	width 100%
	height 80%
	z-index 1

.boulder-svg svg
	width 100%
	height 100%

@keyframes nudge
	0% 
		transform translate(-250%, 0)
		opacity 0
	10%
		opacity 1
	90%
		opacity .9
	100%
		transform: translate(350%, 0)
		opacity 0
		
