.currently-container
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	text-align center
	width 100%
	height 100%
	position relative

.current-icon-wrapper
	position relative
	width 100%
	
.current-icon
	position absolute
	width 9%
	top 25%
	left 0
	right 0
	margin auto
	animation nudge 8s linear infinite
	z-index 2

.currently-container object
	width 80%
	z-index 1

object svg
	height 100%
	width 100%
	
@keyframes nudge
	0% 
		transform translate(-250%, 0)
		opacity 0
	10%
		opacity 1
	90%
		opacity .9
	100%
		transform: translate(350%, 0)
		opacity 0
		
