@keyframes nav-animation-reset
	0%
		transform translate(0%, 0%)
		opacity 1
		background-color $blue4
	1%
		opacity 0
	50%
		transform translate(0%, 85%)
		opacity 0
	75%
		transform translate(0%, 85%)
	95%
		opacity .5
		transform translate(0%, 85%)
		background-color $blue4
	100%
		transform translate(0%, 85%)
		opacity 1
		background-color $white
		
@keyframes nav-animation-go
	0%
		transform translate(0%, 85%)
		opacity 1
	50%
		transform translate(0%, 85%)
		opacity 0
	100%
		transform translate(0%, 0%)
		opacity 1

@keyframes whoami-scroll
	0%
		transform translate(0%, 15%)
		opacity 0
	50%
		transform translate(-0%, 15%)
		opacity 0
	100%
		transform translate(-0%, 0%)
		opacity 1

@keyframes conditions-scroll
	0%
		transform translate(0%, 40%)
		opacity 0
	50%
		transform translate(0%, 40%)
		opacity 0
	100%
		transform translate(0%, 0%)
		opacity 1

@keyframes nav-wrapper-scroll
	0%
		background transparent
	95%
		background transparent
	100%
		background $white

@keyframes pulse
	0% 
		transform scale(1)
	100%
		transform scale(1.2)
		
		
.nav-wrapper
	height 89vh
	width 100vw
	position fixed
	background transparent
	transition background-color .5s ease-in
	
.nav-wrapper-scroll
	height 9vh
	background $white
	animation nav-wrapper-scroll .5s ease-out
	transition none
	z-index 100

.nav-item-container
	display inline-block
	position relative
	height 100%
	width 100%
	
.nav-item-wrapper
	display flex
	justify-content flex-start
	width 100%
	height 15%
	color $white

.nav-item-wrapper-scroll
	transform translate(0%, 0%)
	position fixed
	top 9vh
	background $ltGreen
	z-index 100
	height initial
	
.about-li,
.work-li,
.contact-li
	z-index 1
	width 33.3%
	text-align center
	a
		letter-spacing 2px
	
.whoami
	display flex
	flex-flow column nowrap
	justify-content flex-start
	align-items center
	height 100%
	width 100%
	position absolute
	top 0px
	bottom 0px
	right 0px
	left 0px
	margin auto
	text-align center
	transition all .5s ease-in
	transform scale(1) translate(0%, 15%)
	color $white
	letter-spacing 1px
	
.whoami-scroll
	align-items flex-start
	color $gray
	position fixed
	top 0%
	text-align left
	animation whoami-scroll .5s ease-out
	transform translate(0%, 0%)
	transition none
	h2
		font-size .8em
	h3
		font-size .6em

.conditions
	display flex
	flex-flow column nowrap
	justify-content flex-start
	align-items center
	height 100%
	width 100%
	position absolute
	top 0px
	bottom 0px
	right 0px
	left 0px
	margin auto
	text-align center
	transition all .5s ease-in
	transform scale(1) translate(0%, 40%)
	color $white
	letter-spacing 1px
	
.conditions-scroll
	align-items flex-end
	transform translate(0%, 0%)
	animation conditions-scroll .5s ease-out
	color $gray
	position fixed
	top 0%
	text-align right
	transition none
	p
		font-size .5em

.me-img
	position absolute
	top 90%
	right 0px
	left 0px
	bottom 0px
	margin 0px auto
	width 33.3%
	// height 125px
	border-top 4px solid $ltGreen
	border-left 4px solid $ltGreen
	border-bottom 4px solid $ltGreen
	border-right 4px solid $ltGreen
	border-radius 50%
	z-index 101

.me-img-scroll
	position fixed
	top -5%
	transform scale(.5)
	z-index 101

.current-weather-component
	display flex
	flex-flow column nowrap
	justify-content flex-end
	align-items center
	text-align center
	width 100%
	height 100%
	
.current-icon
	position relative
	top 15%
	width 11%
	height 20%

.current-icon svg
	width 100%
	height 100%
	animation pulse 2.5s ease-out infinite alternate
	
.boulder-svg
	display flex
	height 35%
	width 100%
	
.boulder-svg svg
	width 100%
	height 100%

