@keyframes whoami-scroll
	0%
		transform translate(0%, 10%)
		opacity 0
	50%
		transform translate(-0%, 10%)
		opacity 0
	100%
		transform translate(-0%, 0%)
		opacity 1

@keyframes conditions-scroll
	0%
		transform translate(0%, 25%)
		opacity 0
	50%
		transform translate(0%, 25%)
		opacity 0
	100%
		transform translate(0%, 0%)
		opacity 1

@keyframes header-top-scroll
	0%
		background transparent
	90%
		background transparent
	100%
		background $white

@keyframes current-icon-pulse
	0% 
		transform scale(1) translateX(-100%)
		opacity 0
	10% 
		transform scale(1) translateX(-80%)
		opacity 1
	50% 
		transform scale(1.2) translateX(0%)
		opacity 1
	90% 
		transform scale(1) translateX(90%)
		opacity 1
		
	100%
		transform scale(1) translateX(100%)
		opacity 0
		
@keyframes me-scroll
	0%
		transform scale(1)
		opacity 1
		top 100%
	30%
		opacity 0
		transform scale(1)
		top 50%
	85%
		opacity 0
		transform scale(.1)
		top 0%
	100%
		opacity 1
		transform scale(.5)
		top 0%
	
@keyframes nav-item-wrapper-scroll
	0%
		opacity 1
		background none
		top auto
	5%
		opacity 0
		top auto
		background none
	85%
		top 16vh
		opacity 0
		background none
	100%
		top 9vh
		opacity 1
		background $ltGreen

.header-bg-img
	display block
	position absolute
	height 100%
	width 100%
	background url('../assets/bg-photo.jpg')
	background-size cover
	background-position center
	opacity .08
	
.header-top
	height 100vh
	width 100%
	position fixed
	background transparent
	transition height .2s ease-in
	
.header-top-scroll
	height 9vh
	background $white
	animation header-top-scroll .5s ease-out
	transition none
	z-index 100

.whoami
	display flex
	flex-flow column nowrap
	justify-content flex-start
	align-items center
	height 100%
	width 100%
	position absolute
	top 0px
	bottom 0px
	right 0px
	left 0px
	margin auto
	text-align center
	transform scale(1) translate(0%, 10%)
	color $white
	letter-spacing 1px
	
.whoami-scroll
	justify-content center
	align-items flex-start
	height 9vh
	margin 0
	left 2%
	color $darkBlue
	position fixed
	text-align left
	animation whoami-scroll .5s ease-out
	transform translate(0%, 0%)
	transition none
	h2, h3
		font-size .5em
	@media $screen-lg
		h2, h3
			font-size 1em

.conditions
	display flex
	flex-flow column nowrap
	justify-content flex-start
	align-items center
	height 100%
	width 100%
	position absolute
	top 0px
	bottom 0px
	right 0px
	left 0px
	margin auto
	text-align center
	transform scale(1) translate(0%, 25%)
	color $white
	letter-spacing 1px
	
.conditions-scroll
	justify-content center
	align-items flex-end
	transform translate(0%, 0%)
	animation conditions-scroll .5s ease-out
	height 9vh
	margin 0
	left -2%
	color $darkBlue
	position fixed
	text-align right
	transition none
	p
		font-size .5em
	@media $screen-lg
		p
			font-size 1em

.header-bottom
	display flex
	flex-flow column nowrap
	justify-content flex-end
	align-items center
	text-align center
	width 100%
	height 100%

.current-icon
	position relative
	top 15%
	width 11%
	height 20%

.current-icon svg
	width 100%
	height 100%
	animation current-icon-pulse 5s linear infinite
	
.boulder-svg
	display flex
	height 35%
	width 100%
	
.boulder-svg svg
	width 100%
	height 100%
	
.nav-item-wrapper
	display flex
	justify-content flex-start
	width 100%
	height 15%
	color $white

.nav-item-wrapper-scroll
	transform translate(0%, 0%)
	position fixed
	top 9vh
	background $ltGreen
	z-index 100
	height initial
	animation nav-item-wrapper-scroll .7s ease-out
	box-shadow 0px 10px 10px 0px rgba(0,0,0,.25)
	
.about-li,
.work-li,
.contact-li
	z-index 1
	width 33.3%
	text-align center
	a
		letter-spacing 2px

.li-line
	height 1px 
	background black
	background radial-gradient(circle, $offWhite, rgba(0,0,0,0))
	width 50%
	max-width 400px
	margin auto
	
.me-img-wrapper
	display flex
	justify-content center
	align-items center
	position absolute
	top 100%
	right 0px
	left 0px
	bottom 0px
	width 100%
	

.me-img-wrapper-scroll
	position fixed
	height 9vh
	top 0%
	bottom auto
	transform scale(.5)
	z-index 101
	animation me-scroll .5s ease-out
	opacity 1

.me-img
	width 80px
	max-width 265px
	border-top 4px solid $ltGreen
	border-left 4px solid $ltGreen
	border-bottom 4px solid $ltGreen
	border-right 4px solid $ltGreen
	border-radius 50%
	z-index 101
	transition opacity scale .5s ease-in
	@media $screen-lg
		width 90px


	
