@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700'

// Colors
$white = #fafafa
$offWhite = #fefbf7

// palette 1
$gray = #594F4F
$blueGray = #547980
$greenBlue = #45ADA8
$ltGreen = #9DE0AD
$yellowGreen = #E5FCC2



$content-width = 1400px


*
	font-family 'Open Sans'
	outline none
	box-sizing border-box
	
html, body
	width 100%
	height 100%
	font-size 12px

html, body, h1, h2, h3, p, ul, form, button
	margin 0px
	padding 0px

body
	position relative
ul
	list-style-type none

a
	cursor pointer

h1
	font-size 2.5em

h2
	font-size 1.3em
	@media $screen-lg
		font-size 1.7em

h3
	font-size 1em
	@media $screen-lg
		font-size 1.3em

p, li, a
	font-size .6em
	@media $screen-lg
		font-size 1em

li a
	font-size 1em
svg
	path
		fill $white

.fade-in-content
	animation fade-in .6s ease-out

@keyframes fade-in
	from
		opacity 0
	to
		opacity 1


.site-wrapper
	background $white
	position relative

.site-wrapper::selection
	background-color $red4
	
.header-container, 
.about-container,
.work-container,
.contact-container
	display flex
	flex-flow column nowrap
	width 100%
	height 100vh
	color $white
	font-size 1.5rem
	position relative
	
.header-container
	background-color $blueGray
	height 89vh

.about-container
	border-top 4px solid $ltGreen
	
.work-container
	background-color $offWhite
	color $gray
	height 200vh

.contact-container
	background-color $ltGreen
	color $white

.header-top
	display flex
	justify-content center
	flex-flow column nowrap
	align-items center
	width 100%
	height 33.3%

.header-bottom
	height 66.6%
	width 100%
