@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700'

$navy = #0d3a59
$red = #f0576b
$ltBlue = #0bc9ec
$blue-gray = #415560
$white = #fafafa
$ltGreen = #b4ef7f
$green = #018E0E
$yellowGreen = #c3ca6b
$blue = #0899b4

$content-width = 1400px


*
	font-family 'Open Sans'
	outline none
	box-sizing border-box
	
html, body
	width 100%
	height 100%
	font-size 12px

html, body, h1, h2, h3, p, ul, form, button
	margin 0px
	padding 0px

body
	position relative
ul
	list-style-type none

a
	cursor pointer

h1
	font-size 2.5em

h2, a 
	font-size 2em

h3
	font-size 1.5em

p, li
	font-size 1em

svg
	path
		fill $white

.fade-in-content
	animation fade-in .6s ease-out

@keyframes fade-in
	from
		opacity 0
	to
		opacity 1


.site-wrapper
	background linear-gradient($blue-gray, $ltBlue)
	position relative

.header-container, 
.about-container,
.work-container,
.contact-container
	display flex
	flex-flow column nowrap
	width 100%
	height 100vh
	color $white
	font-size 1.5rem
	overflow hidden
	// margin 0px 15px

.section-title
	margin 25px
	text-align center
	
.header-container
	color $white
	position relative
	background linear-gradient(to bottom, $navy, $blue, $ltBlue, $green)
	
.about-container
	color $white
	position relative

.work-container
	color $navy

.contact-container
	color $navy

.header-top
	display flex
	justify-content center
	flex-flow column nowrap
	align-items center
	width 100%
	height 33.3%

.header-bottom
	height 66.6%
	width 100%
