@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700'

$navy = #0d3a59
$beige = #fff7ec
$cream = #fff6eb
$brown = #e5d5be
$grey = #cfd8df
$ltGreen = #b6e293
$green = #b6e293
$yellowGreen = #c3ca6b
$yellow = #feeb75
$salmon = #f8928e
$red = #f0576b
$ltBlue = #50bdc4
$blue = #0899b4
$white = #fafafa

*
	font-family 'Open Sans'
	outline none
	box-sizing border-box
	
html, body
	width 100%
	height 100%
	font-size 12px

html, body, h1, h2, h3, p, ul
	margin 0px
	padding 0px
	
ul
	list-style-type none

a
	cursor pointer

h1
	font-size 3em

h2 
	font-size 2.5em

h3
	font-size 2em

p, a
	font-size 1.5em

svg
	path
		fill $white
	
.header-container, 
.about-container,
.work-container,
.contact-container
	display flex
	flex-flow column nowrap
	width 100%
	height 100%
	color $white
	font-size 1.5rem
	
.header-container
	background-color $blue
	color $white
	border-bottom 4px solid $navy
	height 99.7%
	
.about-container
	background-color $beige
	color $navy

.work-container
	background-color $red

.contact-container
	background-color $green

	
.header-top
	display flex
	width 100%
	height 50%

.header-top
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	
.header-bottom
	display flex
	flex-flow column nowrap
	justify-content flex-end
	width 100%
	height 50%
	position relative
	
.boulder-svg
	width 66%
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	margin auto
	
.current-weather-mount
	width 100%
	height 90%
	
.nav-list
	display flex
	flex-flow row nowrap
	justify-content space-around
	z-index 1
