@keyframes nav-animation-reset
	0%
		transform translate(0%, 0%)
		opacity 1
		background-color $blue4
	1%
		opacity 0
	50%
		transform translate(0%, 85%)
		opacity 0
	75%
		transform translate(0%, 85%)
	95%
		opacity .5
		transform translate(0%, 85%)
		background-color $blue4
	100%
		transform translate(0%, 85%)
		opacity 1
		background-color $white
		
@keyframes nav-animation-go
	0%
		transform translate(0%, 85%)
		opacity 1
	50%
		transform translate(0%, 85%)
		opacity 0
	100%
		transform translate(0%, 0%)
		opacity 1

@keyframes whoami-scroll
	0%
		transform scale(1) translate(0%, 0%)
	100%
		transform scale(.5) translate(0%, -49%)

@keyframes conditions-scroll
	0%
		transform scale(1) translate(0%, 0%)
	50%
		transform scale(.9) translate(0%, 0%)
	75%
		transform scale(.9) translate(0%, -1%)
	90%
		transform scale(.9) translate(0%, -4%)
	100%
		transform scale(.9) translate(0%, -4%)

@keyframes nav-wrapper-scroll
	0%
		background transparent
	95%
		background transparent
	100%
		background linear-gradient(to bottom, $white, transparent)
		
.nav-wrapper
	height 100vh
	width 100vw
	position fixed
	background transparent
	transition background-color .5s ease-in
	// z-index 100

.nav-wrapper-scroll
	height 10vh
	background linear-gradient(to bottom, $white, transparent)
	animation nav-wrapper-scroll .5s ease-out

.nav-item-container
	display inline-block
	position relative
	height 100%
	width 100%
	
.nav-item-wrapper
	display flex
	// flex-flow column nowrap
	position relative
	width 100%
	height 100%
	margin auto
	color $white

.about-li,
.work-li,
.contact-li
	position absolute
	bottom 10%
	flex 1 1 auto
	text-align center
	a
		letter-spacing 2px

.about-li
	left 40%

.work-li
	left 48%

.contact-li
	left 55%
	
.whoami
	height 100%
	width 50%
	position absolute
	top 25%
	bottom 0px
	right 0px
	left 0px
	margin auto
	text-align center
	transition all .5s ease-in
	transform scale(1) translate(0%, 0%)
	color $white
	letter-spacing 1px
	
.whoami-scroll
	color $blue4
	position fixed
	right 0px
	left 0px
	top 0%
	margin 0px auto
	animation whoami-scroll .5s ease-out
	transform scale(.5) translate(0%, -49%)

.conditions
	height 100%
	width 50%
	position absolute
	top 30%
	bottom 0px
	right 0px
	left 0px
	margin 0px auto
	text-align center
	transition all .5s ease-in
	transform scale(1) translate(0%, 0%)
	color $white
	letter-spacing 2px
	
.conditions-scroll
	transform scale(.9) translate(0%, -4%)
	animation conditions-scroll .5s ease-out
	color $blue4
	position fixed
	right 0px
	top 0%
	left auto
	margin 0
	text-align right
	