@keyframes nav-animation-reset
	0%
		transform translate(-50%, 0%)
		opacity 1
	1%
		opacity 0
	50%
		transform translate(-25%, 95%)
		opacity 0
	75%
		transform translate(-5%, 95%)
	95%
		opacity .5
		transform translate(0%, 95%)
	100%
		transform translate(0%, 95%)
		opacity 1
		
@keyframes nav-animation-go
	0%
		transform translate(0%, 95%)
		opacity 1
	50%
		transform translate(-50%, 95%)
		opacity 0
	100%
		transform translate(-50%, 0%)
		opacity 1
		
@keyframes about-li-go
	0%
		transform translate(0%, 0%)
	100%
		transform translate(0%, 5%)

@keyframes work-li-go
	0%
		transform translate(0%, 0%)
	100%
		transform translate(0%, 100%)
		
@keyframes contact-li-go
	0%
		transform translate(0%, 0%)
	100%
		transform translate(0%, 200%)

@keyframes whoami-scroll
	0%
		transform scale(1) translate(0%, 0%)
	50%
		transform scale(.3) translate(0%, 0%)
	100%
		transform scale(.3) translate(0%, -410%)

@keyframes conditions-scroll
	0%
		transform scale(1) translate(0%, 0%)
	50%
		transform scale(.5) translate(0%, 0%)
	75%
		transform scale(.5) translate(0%, -35%)
	90%
		transform scale(.5) translate(60%, -60%)
	100%
		transform scale(.5) translate(60%, -60%)
		
		
.nav-wrapper
	height 100vh
	width 100vw
	position fixed
	background transparent
	z-index 100

.nav-item-container
	position relative
	display inline-block
	z-index 1
	height 100%
	width 100%

.nav-item-container-scroll
	height 12%
	background $white
	
.nav-item-wrapper
	display flex
	position relative
	z-index 1
	width 50%
	height 100%
	margin auto
	animation nav-animation-reset .5s ease-out
	transform translate(0%, 95%)
	color $white
	
.nav-scroll
	animation nav-animation-go .5s ease-out
	transform translate(-50%, 0%)
	z-index 103
	a
		font-size .8em

.about-li,
.work-li,
.contact-li
	transform translate(0%, 0%)
	flex 1 1 auto
	text-align center

.about-li,
.work-li,
.contact-li
	a
		font-size 1em
		letter-spacing 2px
		@media $screen-lg
			font-size 2em
	
.about-li
	position static

.work-li
	position static

.contact-li
	position static

.about-li-animate
	animation about-li-go .5s ease-out
	transform translate(0%, 5%)
	position absolute
	
.work-li-animate
	animation work-li-go .5s ease-out
	transform translate(0%, 100%)
	position absolute
	
.contact-li-animate
	animation contact-li-go .5s ease-out
	transform translate(0%, 200%)
	position absolute
	
.whoami
	height 100%
	width 50%
	position absolute
	top 0px
	bottom 0px
	right 0px
	left 0px
	margin auto
	transition all .5s ease-in
	transform scale(1) translate(0%, 0%)
	
.whoami-scroll
	position fixed
	right 0px
	left 0px
	margin 0px auto
	z-index 99
	animation whoami-scroll .5s ease-out
	transform scale(.3) translate(0%, -410%)

.conditions
	position fixed
	top 10px
	right 10px
	text-align right
	transition all .5s ease-in
	transform scale(1) translate(0%, 0%)
	
.conditions-scroll
	transform scale(.5) translate(60%, -60%) !important
	animation conditions-scroll .5s ease-out