	/**********************************
MEDIA QUERIES
***********************************/

$iphone5  = '(min-width:' + 359 + 'px)'
$screen-xs = '(min-width:' + 567 + 'px)'
$ipad = '(min-width:' + 760 + 'px) and (max-width:' + 1024 + 'px)'
$screen-md = '(min-width:' + 1024 + 'px)'
$screen-lg = '(min-width:' + 1025 + 'px)'
$screen-xl = '(min-width:' + 1281 + 'px)'